.member-wrraper{
  display: grid;
  grid-template-rows: auto auto;
  margin-top: 50px;
}

.member-body-wrraper{
    display: grid;
    grid-auto-rows: auto auto;
    grid-gap: 20px;
}

.member-host{
  display: flex;
  justify-content: center;
}

.host{
  width: 20rem;
}


.member-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.member{
  width: 18rem;
}

.member span{
  display: flex;
  align-items: flex-end;
}

.member-host span img{
  width: 50px;
  margin-right: 20px;
}

.member span img{
  width: 50px;
}

.member-header{
  padding-left: 20px;
}