.wrapper{
   background-color: whitesmoke;
}

.nav-item{
    list-style: none;
}

.header-navbar{
    position: absolute;
    top: 20%;
    left: 2%;
}

.navbar-brand{
    margin-left: 20px;
    color: white;
    font-size: 30px;
    transition: transform .1s;
}

.navbar-brand:hover{
    transform: scale(1.1);
    color: #ff4757;
}

.row1{
    width: 100%;
}

.header{
    box-shadow: 0px 5px #aaaaaa;
    background-color: darkslategray;
    height: 100px;
    position: relative;
}

.body{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% auto;
}

.content-wrapper{
    height: fit-content;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.card-category{
    list-style: none;
}

.category-title{
    padding: 10px 30px;
    border-bottom: 1px solid tomato;
}

.card-category li{
    cursor: pointer;
    transition: transform .1s;
}

.card-category li:hover{
    transform: scale(1.05);
    color: tomato;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.product{
    width: 30%;
    height: fit-content;
    margin-right: 30px;
    cursor: pointer;
    border: none;
}

.card-header{
    text-align: center;
}

.product .card-header{
    background-color: white;
}

.product .card-title{
    font-size: 15px;
    color: black;
}

.datepost{
    color: black;
}

.product-price{
    padding: 10px;
}

.product:hover .product-price{
    background-color: #d63031;
    color: whitesmoke;
}

.product > a{
    padding: 5px;
}

.product img{
    width: 200px;
    height: 200px;
    transition: transform .2s;
}

.product:hover img{
    transform: scale(1.05);
}

.product:hover a{
    border: 1px solid tomato;
}

.product:hover a{
    text-decoration: none;
}

.footer{
    background-color: darkslategray;
    color: whitesmoke;
}

.footer-title{
    padding: 20px;
}

 #pagination-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}


.pagination .page-item:not(.disabled){cursor: pointer;}